.v-dialog .theme--light.v-list,
.v-tooltip__content .theme--light.v-data-table {
  background: #f0f0f0 !important;
}

.theme--dark.v-data-table
  tbody
  tr:hover:not(.v-data-table__expanded__content):not(
    .v-data-table__empty-wrapper
  ) {
  background: rgba(97, 97, 97, 0.5) !important;
}

.theme--light.v-data-table
  tbody
  tr:hover:not(.v-data-table__expanded__content):not(
    .v-data-table__empty-wrapper
  ) {
  background: hsla(0, 0%, 93.3%, 0.5) !important;
}

.monospace {
  font-family: benderregular, SF Mono, Droid Sans Mono, Ubuntu Mono, Consolas,
    Courier New, Courier, monospace !important;
  letter-spacing: 0.03rem;
  text-align: center;
}

.left {
  text-align: left;
}

.monospace-pure {
  font-family: SF Mono, Droid Sans Mono, Ubuntu Mono, Consolas, Courier New,
    Courier, monospace;
}

html[lang^="en"] {
  --font-family-serif: "Noto Serif", serif;
}

html[lang^="zh"] {
  --font-family-serif: "Noto Serif SC", "Noto Serif", serif;
}
